MATRIX_MODE=development # development or production
DATABASE_URL=http://example.org/ # connection string
API_KEY=example123 # secret key
LOG_LEVEL=1 # logging verbosity
ZION_ENDPOINT=http://example.org/example # URL